{% extends "pages/layout.html" %}



    {% block body %}

<div></div>
<div style="display: flex; justify-content:center; align-items: center; margin-top: 8%;"> 
    
    <img src="https://www.pngkit.com/png/full/11-117755_remove-muzzle-flash-cod-s-gaming-logo-png.png" style="margin: auto; height:300px">
</div>
<p style="text-align: center; margin-bottom:0; margin-top:1%; color: white;">Welcome to</p>
<h1>Syberia.</h1>
<div style="display: flex; justify-content:center; align-items: center; margin-top: 5%;">
    <button><a href="login" style="text-decoration: none; color:rgb(110, 22, 22)">Start</a></button>
</div>
    {% endblock body %}

 
